<br>
<div id="footer">
  <h4>Eau Claire's Salon</h4>
  <p>1234 main street Portland Oregon, USA</p>
  <p>ClairesSalon@gmail.com</p>
  <p>(503) 123 4567</p>
  <p>Hours: Monday-Saturday 9am-5pm</p>
</div>