@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h3>These are our stylists:</h3>

@if(@Model.Count == 0)
{
  <p>There are no stylists recorded.</p>
  <button>@Html.ActionLink("Add Stylist", "Create")</button>
}

<ul>
  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li>
  }
</ul>

@if (@Model.Count > 0) 
{
<button>@Html.ActionLink("Add Stylist", "Create")</button>
}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio exercitationem consequuntur quasi praesentium earum nemo, numquam eaque inventore, ad cumque deleniti rem velit magnam? Beatae iste delectus magnam ab tempore, libero quis excepturi nihil et similique veniam consequatur laborum, reprehenderit facere nulla perferendis numquam enim placeat ad deleniti amet porro maxime accusantium! Ea autem quae quaerat consequatur? Asperiores animi, provident nesciunt facilis explicabo voluptatum voluptates minus ut et, quia fugit, facere quibusdam atque consequatur libero! Asperiores sapiente eaque provident iure et doloremque recusandae error sequi alias laudantium! Neque accusantium, animi mollitia laboriosam ducimus nobis quidem reprehenderit minus. Autem, ducimus consectetur?</p>
<br>
<a href="/" class="btn btn-primary">Home</a>
<br>