@{
    Layout = "_Layout";
}

<h2>Welcome to the worlds best hair salon!</h2>
<h3>Eau Claire's Salon est. 1962</h3>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet ipsam, numquam quos ut, minus dolor ea qui inventore corporis mollitia nihil molestias magni deserunt saepe laborum sunt omnis perferendis libero dolorem perspiciatis. Adipisci, hic assumenda quae libero iusto voluptatem optio placeat eveniet ex vel ipsam quos a facere voluptates nisi! Quia voluptatibus commodi distinctio quos eaque magnam natus deleniti! Est explicabo deserunt pariatur nesciunt esse inventore vel a soluta animi, veritatis blanditiis ullam quibusdam quo saepe distinctio quam reiciendis quis voluptas ipsa doloremque quaerat. Soluta quod sed ex veritatis corporis, ipsam possimus? Consequuntur ratione, neque possimus maiores maxime vitae impedit, alias exercitationem ad sed, velit incidunt expedita vero ex dolore. Cupiditate, rerum laborum neque a labore possimus repellendus consequuntur, saepe sit, eligendi odit dignissimos. Odio explicabo at nihil, dicta voluptatibus cumque totam? Obcaecati, quidem animi quos eligendi vero temporibus dolor reiciendis magnam itaque dignissimos corporis. Quo, exercitationem maxime eius culpa eligendi voluptatum quia numquam et dolorem aut explicabo architecto magni quas at. Blanditiis porro rem doloremque, sequi quae nihil culpa, quam aspernatur, molestias repellat hic esse aperiam cupiditate. Nihil a deleniti architecto neque ex quae esse itaque iste tempore qui saepe officiis voluptas, quod ut provident accusantium magni. Perspiciatis, assumenda!</p>

<button>@Html.ActionLink("Our Stylists", "Index", "Stylists")</button>
<button>@Html.ActionLink("All Clients", "Index", "Clients") </button>
<br>